.animatedBG {
    position: relative;
    overflow: hidden;
    display: inline-block;


    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: white;
        animation: a-ltr-after 2s cubic-bezier(.77, 0, .18, 1) forwards;
        transform: translateX(-101%);
    }


    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        animation: a-ltr-before 2s cubic-bezier(.77, 0, .18, 1) forwards;
        transform: translateX(0);
    }
}