footer {
    width: 100%;

    p {
        margin: 0;
        font-family: 'Anton', 'RocknRoll One', cursive;;
        text-align: center;
        letter-spacing: 1px;
        font-style: italic;
        font-size: 0.9rem;
    }
}