<!DOCTYPE html>
<html lang="{{ html_language }}">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'my_sections/src/css/style-page404.css' %}">

    <title>Erro 404</title>
</head>

<body>
    <div id="handler404">
        <div>
            <h1>404</h1>
    
            <h2>
                Ooops, Página não encontrada!
            </h2>

            <a class="btn btn-notFound rounded-0" 
               href="http://www.cailtonoliveira.com.br/"> Inicio</a>
        </div>
    </div>
</body>

</html>