// Colors
$color-text: #fefefe;
$color-bg: #0A0F18;
$span-theme-default: #00ff00;
$color-progress-Bar: #00ff00;

$bg-dark: #000000;
$bg-dark-navbar: #00000017;
$bg-dark-80: #000000;
$text-black-70: #333;
$text-white: #ffffff;
$text-50: #ddd9d9;
$transparent: #00000073;
$pacific-blue: #05AFD3;
$btn-info: #037f97;
$btn-info-hover: #05AFD3;
$green: #058a00;
$green-hover: #05a000;