{% load static %}

<div class="container-fluid more-style">
  <div class="row">
    <div class="col-img col-12 col-sm-9 col-xl-6">
      <section class="style__card" data-aos="fade-up">
        <header class="title__style">
          <h2 data-aos="zoom-in" class="more">
            <span class="default_theme">&#60;</span>
            Sobre
            <span class="default_theme">&#47;&#62;</span>
          </h2>
        </header>

        <div class="countStyle__card">
          <h3 data-aos="zoom-in" translate="no">001</h3>
        </div>

        <video autoplay 
          loop 
          muted 
          playsinline 
          class="img-fluid" 
          style="opacity: 0.6;"
          data-aos="zoom-in"
          width="659"
          height="371.17">

          <source src="{% static 'my_sections/src/images/card-more.webm' %}" type="video/webm">
          <source src="{% static 'my_sections/src/images/card-more.mp4' %}" type="video/mp4">
        </video>

      </section>
    </div>

    <article class="descripition__card col-12 col-sm-11 col-xl-6">
      <h2 class="title_more">
        <span class="default_theme">#</span>
        Resumo Pessoal
        <span class="default_theme_style" translate="no"></span>
      </h2>

      {% for text in more %}
        <p>
          <span class="simbol_terminal default_theme" translate="no">></span> 
          {{ text.more_description }}
        </p> 
      {% endfor %}

      <p>
        <span class="simbol_terminal default_theme" translate="no">></span> 
        <span class="teminal__animated" translate="no">_</span>
      </p>
    </article>

  </div>
</div>
