{% load static %}

<div class="container-fluid">
  <div class="row">
    <section>
      <h2 class="services_title">
        <span class="default_theme">&#60;</span>
        SERVIÇOS
        <span class="default_theme">&#47;&#62;</span>
      </h2>

      <div class="main-services">
        <div class="flex-item">
            <h2><span>01/</span> Desenvolvimento Web</h2>
            
            <p>Desenvolvo websites modernos, responsivos e com alta compatibilidade com navegadores atuais.</p>

            <span class="line"></span>
        </div>

        <div class="flex-item">
            <h2><span>02/</span> Manutenção e Melhorias</h2>
            
            <p>Faço melhorias no seu site, desde adição de novos recursos ou até mesmo a reconstrução do design do site.</p>

            <span class="line"></span>
        </div>

        <div class="flex-item">
            <h2><span>03/</span> Ranqueamento no Google</h2>
            
            <p>Vou adicionar técnicas de SEO e acessibilidade para melhorar o ranqueamento do seu site em pesquisas do Google.</p>

            <span class="line"></span>
        </div>
      </div>
    </section>
  </div>
</div>
