
<!-- Button trigger modal -->
<button type="button" 
    class="btn-contact" 
    data-bs-toggle="modal" 
    data-bs-target="#exampleModal">
    <i class="i-social" translate="no">d</i>
</button>

<!-- Modal -->
<div class="modal fade modal-sm" 
    id="exampleModal" 
    tabindex="-1" 
    aria-labelledby="exampleModalLabel" 
    aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <h2 class="title_contact">
                    Mande um Email
                </h2>

                <form action="https://formspree.io/f/moqbqndl" method="POST" class="form_style">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label><br>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Nome@gmail.com">
                    </div>

                    <div>
                        <label for="message" class="form-label">Mensagem:</label><br>
                        <textarea class="form-control" name="message" id="message" rows="1" placeholder="Assunto..."></textarea>
                    </div>

                    <div class="main_btn">
                        <button type="submit" id="btnSend" class="btn btn-submit">
                            Enviar <i class="bi bi-send"></i>
                        </button> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>