{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
<meta name="google-site-verification" content="oUCLJmGsBjg984dUG4LO1BNzisO-knUbpDgA5g3ZiXs" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="author" content="Cailton Oliveira">
<meta name="description" content="Meu Portfolio pessoal">

<link rel="shortcut icon" href="https://cdn.iconscout.com/icon/free/png-256/dev-dot-to-3550613-2970198.png"
    type="image/x-icon">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="{% static 'aos-animated/css/aos.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'my_sections/src/css/style.compress.css' %}">

<title>Cailton - Portfolio</title>
