{% load static %}

<div class="container-fluid">
  <a class="navbar-brand" href="#">
    Cailton<span class="default_theme_navbar">.Dev</span>
  </a>

  <button class="navbar-toggler d-lg-none border-0" type="button" data-bs-toggle="collapse"
    data-bs-target="#colapseNavBar" aria-controls="colapseNavBar" aria-expanded="false" aria-label="Toggle navigation">

    <i class="bi bi-three-dots-vertical" translate="no">&#9776;</i>
  </button>

  <nav class="collapse navbar-collapse" id="colapseNavBar">
    <ul class="navbar-nav scrollSuave ms-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link active" href="#home">.Inicio()</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#more">.Sobre()</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#skills">.Habilidades()</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#projects">.Projetos()</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#services">.Contato()</a>
      </li>

      <li class="nav-item active">
        <div id="google_translate_element" class="nav-link"></div>
      </li>
    </ul>

  </nav>
</div>